<<<<<<< HEAD
body{
    background-color: rgb(45, 45, 124);
}

=======
body{
    border: 2px solid hotpink;
    background: linear-gradient(#1b47ad, #081229);
}

>>>>>>> 90c2f739c8dc9e6260e1c44486b2342058f0f464
