// h2 {
//   // border: 2px solid red;
//   // font-size: 50px;
//   margin: 20px;
// }

.cardBox {
  border: 10px solid rgb(39, 39, 39);
  border-radius: 50px;
  flex-direction: column;
  // color: white;
  width: 35%;
  min-width: 250px;
  // margin-left: 20px;
  background-color: slateGray;
  margin-bottom: 10px;
  // padding: 30px;
  // margin: 30px;
}
.titleDiv {
  // border: 2px solid hotpink;
  display: flex;
  justify-content: center;
}

.title {
  color: paleturquoise;
  font-size: 24px;
  margin: 15px
}

.companyName {
  margin: 10px;
}

.currentDate {
  margin-left: 10px;
  margin-right: 5px;
}

.interviewDate {
  margin-left: 10px;
  margin-right: 5px;
}

.contactInfo {
  margin-left: 10px;
  margin-right: 5px;
}

.contactEmail {
  margin-left: 10px;
  margin-right: 5px;
}

.contactNumber {
  margin-left: 10px;
  margin-right: 5px;
}

.companyURL {
  margin-left: 10px;
  margin-right: 5px;
}

.cardButtons {
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.updateButton {
  margin-right: 5px;
  border: 3px solid rgb(39, 39, 39);
  border-radius: 15px;
  width: 90px;
  height: 40px;
}

.status {
  margin-left: 10px;
}

.notesArea {
  margin-left: 10px;
}

.notesDiv {
  margin-left: 10px;
}