.updateCard {
    border: 2px solid white;
    color: white;
    width: 50%;
    background-color: brown;
}

.updateCardButtons {
    text-align: center;
}

.updateCardSubmit {
    margin-right: 5px;
}