.updateCard {
    border: 10px solid rgb(39, 39, 39);
    border-radius: 50px;
    // color: white;
    width: 40%;
    background-color: slateGray;
}

.updateCardButtons {
    text-align: center;
    margin-bottom: 5px;
}

.updateCardSubmit {
    margin-right: 5px;
}

.notesArea {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 90%;
  }
  
  .notesLabel {
    margin-left: 10px;
  }

  .contactInfo {
      font-weight: bold;

  }

  .updateCardDiv {
      font-weight: bold;
      font-size: 24px;
      margin: 20px; 
  }

  .updateTitle {
      margin-left: 10px;
  }

  .updateCompany {
      margin-left: 10px;
  }

  .notesLabel {
      margin-left: 10px;
  }

  .buttonStyle {
    margin-right: 5px;
    border: 3px solid rgb(39, 39, 39);
    border-radius: 15px;
    width: 90px;
    height: 40px;
  }